flows/sendCustomNotificationAndpostChatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>B그룹 Chatter에 포스트합니다.</description>
        <name>postToBChatter</name>
        <label>postToBChatter</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>renderPost</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>postMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>B팀</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendDiscountNotiToBteam</name>
        <label>sendDiscountNotiToBteam</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>postToBChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotificationRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varTeamB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!$Record.Name} 할인율 규정 초과</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>할인율이 10% 초과했거나 30만원 이상 할인 금액이 적용되었습니다.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignUser</name>
        <label>assignUser</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTeamB</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignUsers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignUsers</targetReference>
        </connector>
    </assignments>
    <description>할인율이 10%이상이거나 할인 금액이 30만원 이상인 경우에는 활성화된 B그룹 사용자에게 알림을 보내고 B그룹 채터에 포스팅을 올립니다.</description>
    <environments>Default</environments>
    <formulas>
        <description>플로우를 발동시킨 레코드의 주소를 저장합니다.</description>
        <name>OpptyLink</name>
        <dataType>String</dataType>
        <expression>LEFT(
{!$Api.Partner_Server_URL_140},FIND(&quot;.com/&quot;,{!$Api.Partner_Server_URL_140})+3
)+&quot;/lightning/r/Oppty__c/&quot;+{!$Record.Id}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>sendCustomNotificationAndpostChatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sendCustomNotificationAndpostChatter</label>
    <loops>
        <name>assignUsers</name>
        <label>assignUsers</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>UserIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignUser</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sendDiscountNotiToBteam</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>CustomNotifications에 추가한 CustomNotification 레코드를 가져옵니다.</description>
        <name>getCustomNotificationRecord</name>
        <label>getCustomNotificationRecord</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTeamBUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DiscountNotiToBteam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Role이 B인 유저들의 레코드를 가져옵니다.</description>
        <name>getTeamBUser</name>
        <label>getTeamBUser</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00EIS000000DOG3</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserIds</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>직전 포스트 내용을 rich text로 보이게 업데이트 합니다.(isRichText=True여야 richText로 보임)</description>
        <name>renderPost</name>
        <label>renderPost</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>postToBChatter.feedItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCustomNotificationRecord</targetReference>
        </connector>
        <filterFormula>ISPICKVAL({!$Record.OpptySalesStatus__c}, &apos;구매&apos;) &amp;&amp; ({!$Record.OpptyDiscountRate__c}&gt;=0.1 || {!$Record.OpptyTotalAmount__c}-{!$Record.OpptySalesAmount__c}&gt;=30)</filterFormula>
        <object>Oppty__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>chatter에 올라갈 메세지를 저장합니다.</description>
        <name>postMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!OpptyLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt; 할인율이 10% 초과했거나 30만원 이상 할인 금액이 적용되었습니다.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Role이 B인 유저들의 ID를 저장합니다.</description>
        <name>UserIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varTeamB</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
