flows/VocSendEmailFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Voc의 상담내용을 Email를 통해 고객에게 이메일을 보내는 Action입니다.</description>
        <name>VocCommentAction</name>
        <label>VocCommentAction</label>
        <locationX>840</locationX>
        <locationY>643</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.VocCustomerCuID__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>안녕하세요 {!$Record.VocCustomerCuID__r.Name} 님 상담하신 내용입니다.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Record.VocContent__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>VocTypeDecision</name>
        <label>VocTypeDecision</label>
        <locationX>831</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VocTypeDecision00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VocStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>완료</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VocCommentAction</targetReference>
            </connector>
            <label>VocTypeDecision00</label>
        </rules>
        <rules>
            <name>VocTypeDecision01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VocStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>진행</stringValue>
                </rightValue>
            </conditions>
            <label>VocTypeDecision01</label>
        </rules>
    </decisions>
    <description>Voc의 상담내용을 고객에게 이메일을 보내는 Flow 입니다.</description>
    <environments>Default</environments>
    <interviewLabel>VocSendEmailFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VocSendEmailFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>VocTypeDecision</targetReference>
        </connector>
        <object>VoC__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
